.submarine {
    background-image: url('./images/Submarine.png');
    position: absolute;
    background-size: auto 100%;
    width: 2400px;
    height: 1200px;
    transform: translate(-50%, -50%) scale(25%);
    z-index: 1;
}

.engine {
    background-image: url('./images/ReactorOn.png');
    position: absolute;
    background-size: auto 100%;
    width: 800px;
    height: 400px;
    transform: translate(130px, 400px);
}

.chambers {
    background-image: url('./images/Chambers.png');
    position: absolute;
    background-size: auto 100%;
    width: 1200px;
    height: 400px;
    transform: translate(755px, 400px);
}

.bank1 {
    position: absolute;
    width: 238px;
    height: 380px;
    transform: translate(790px, 410px);
    background-color: #002c4b;
}

.bank2 {
    position: absolute;
    width: 238px;
    height: 380px;
    transform: translate(1685px, 410px);
    background-color: #002c4b;
}

.crewQuarters {
    background-image: url('./images/CrewQuarters.png');
    position: absolute;
    background-size: auto 100%;
    width: 450px;
    height: 250px;
    transform: translate(767px, 476px);
}

.generator {
    background-image: url('./images/GeneratorOn.png');
    position: absolute;
    background-size: auto 100%;
    width: 250px;
    height: 250px;
    transform: translate(1190px, 476px);
}

.co2Scrubber {
    background-image: url('./images/ScrubberOn.png');
    position: absolute;
    background-size: auto 100%;
    width: 150px;
    height: 250px;
    transform: translate(1434px, 476px);
}

.kitchen {
    background-image: url('./images/Kitchen.png');
    position: absolute;
    background-size: auto 100%;
    width: 350px;
    height: 250px;
    transform: translate(1575px, 476px);
}

.controlRoom {
    background-image: url('./images/ControlRoom.png');
    position: absolute;
    background-size: auto 100%;
    width: 450px;
    height: 400px;
    transform: translate(1900px, 400px);
}